.card-body.text-center h3 {
  width: 100px;
  height: 100px;
  margin: -5px auto;
  
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 2em;
}

.card-deck {
  display: flex;
  justify-content: center;
  gap: -30px; /* Sesuaikan jarak horizontal antar deck */
  
}

.home-container {
  overflow-x: hidden;
  position : flex;
  background-color:rgb(255, 255, 255);
}

.page-content {
  overflow-x: hidden;
  background-image: url('./Components/images/nightsky.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}


.navbar {
  background-color: rgb(225, 232, 242) !important;
  
}
.navbar .navbar-brand {
  margin-left: 20px;
  
}

.navbar .navbar-nav .nav-link{
  color : rgba(0, 0, 0, 0.849);
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* align to the right */
  margin: 20px;
  background-color: #fff;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 6px 20px;
  transition: all 0.3s ease-in-out;
  width: 300px;
  flex-wrap: wrap;
  position: relative;
  z-index: 1000;
  margin-left:auto;
}


.search-bar form {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-bar input[type=search] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  flex-grow: 1;
  box-shadow: none;
}

.search-bar button {
  background-color: transparent;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.search-bar:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.location-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 6px 20px;
  width: 100%;
}


.ranking-list.card, .iklan.card {
  width: 280px;
}


#button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button {
  display: inline-block;
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button.active {
  background-color: #f44336;
}

.graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.graph {
  width: 100%;
  max-height: 400px;
}

.background {
  background: url('./Components/images/nightsky.jpg') no-repeat center center fixed;
  background-size: cover;
  height:100vh;
  overflow-y:hidden;
}

.location-item > span:nth-of-type(1) {
  font-weight: bold;
}

.location-item > span:nth-of-type(2) {
  font-weight: bold;
}

.location-item > div {
  font-size: 0.8em;
  opacity: 0.6;
}

.location-item .kecamatan span:hover {
  color: black;
  font-size: larger;
}

.dropdown-menu .location-item {
  padding: 10px 0;
}

.location-dropdown .location-item > div {
  margin-bottom: 5px;
}

/*untuk custom date */

.customgraph .card {
  display: flex;
}

.customgraph .card-body {
  display: flex;
  justify-content: center;
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-group .label {
  position: flex;
  font-size: 0.8rem;
  color: #999;
  transition: all 0.2s ease;
  pointer-events: none;
}

.form-group input[type="date"] {
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #fff;
  transition: all 0.2s ease;
}

.form-group input[type="date"]:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/*button submit custom graph*/

#submitButton {
  background-color: #4CAF50;
  border: none;
  justify-content: center;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

#submitButton:hover {
  background-color: #3e8e41;
  color : black;
}

#submitButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/*pop up window*/

