.admin-dashboard {
  background: url('../images/nightsky.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh
}


/*Tabel untuk seluruh lokasi yang terdaftar di database*/

.data-table {
  margin-left: 20px;
  width: 50%;
  border-collapse: collapse;
  position: relative;
  margin-bottom: 20px;
  transform: translateX(-10px);
}

.admin-main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100% !important;
}

.judul-provinsi {
  background-color: #DAE8FC !important;
  position: relative;
}

.data-table th,
.data-table td {
  padding: 8px;
  text-align: center;
  border: 1px solid black;
}

.data-table th {
  background-color: #f2f2f2;
  color: #333;
}

.data-table td {
  color: #555;
}



.data-table tbody tr:first-child {
  background-color: #fff;
}

.data-table tbody tr:not(:first-child) {
  background-color: #fff;
}

.data-table tbody tr:hover {
  background-color: #f9f9f9;
}

.data-table td:first-child {
  text-align: center;
}

.data-table td:nth-child(2),
.data-table td:nth-child(3),
.data-table td:nth-child(4) {
  white-space: nowrap;
  display: table-cell;
  vertical-align: middle;
}

.data-table th:nth-child(1),
.data-table td:nth-child(1) {
  width: 1%;
}

.data-table th:nth-child(2),
.data-table td:nth-child(2) {
  width: 10%;
}

.data-table th:nth-child(3),
.data-table td:nth-child(3) {
  width: 15%;
}

.data-table th:nth-child(4),
.data-table td:nth-child(4) {
  width: 5%;
}

.pengaturan-kota {
  font-size: 14px;
}

.pengaturan-kecamatan,
.pengaturan-alat,
.pengaturan-lattitude,
.pengaturan-longitude {
  font-size: 12px;
}

/*untuk tambah, hapus, dan edit lokasi*/
.admin-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.admin-action {
  margin-left: 20px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3 ease-in-out;
  background: #E9F2FB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;

}

.admin-action:hover {
  background-color: #ccc;
}

/*tambah lokasi*/

.dropdown-container {
  max-width: 100%;
}

.dropdown-button {
  margin-left: 20px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background: #E9F2FB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;

}

.dropdown-button:hover {
  background-color: #ccc;
}

.dropdown-content {
  align-items: center;
  margin-left: 20px;
  margin-bottom: 20px;
  height: 100px;
  background-color: rgb(236, 242, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2;
  max-width: 100%;
  border-radius: 10px;
}

.form {
  width: 100px;
}

.dropdown-content form {
  display: flex;
  align-items: center;
}

.submit-button {
  background-color: #4caf50 !important;
  border: none;
  border-radius: 10px !important;
  padding: 5px;
  width: 100px;
  color: white;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #388e3c;
  border: none;
  border-radius: 10px !important;
  padding: 5px;
  width: 100px;
  color: black;

}

/*untuk delete location*/
.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  /* Ubah opasitas sesuai kebutuhan */
  backdrop-filter: blur(2px);
  /* Ubah nilai blur sesuai kebutuhan */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

}

.delete-confirmation-overlay {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10000;

}

/* CSS untuk tombol delete dan cancel */
.delete-confirmation-overlay .button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.delete-confirmation-overlay .button-group button {
  margin-left: 10px;
  border-radius: 5px;
}



/* CSS untuk mengatur posisi delete-dropdown-content */
.delete-dropdown-content {
  position: relative;
}


/*untuk dropdown delete lokasi*/
.delete-dropdown-content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(236, 242, 255);
  margin-left: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
  border-radius: 5px;
  max-width: 100%;
  padding: 10px;
}


.location-data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  height: 200px;
  margin: 0 auto;
  padding: 10px;
}

.button-group {
  margin-top: -10px;
  display: flex;
  width: 200%;
  margin: 0 auto;
}


.delete-button {
  margin: 0 auto;
  position: relative;
  background-color: #FF6969;
  color: white;
  padding: 5px 15px;
  border: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.delete-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.delete-button:hover {
  transform: scale(1.1);
}

.delete-button:hover::before {
  opacity: 1;
}

.cancel-button:hover {
  transform: scale(1.1);
}

.cancel-button:hover::before {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.cancel-button {
  transition: transform 0.3s ease;
}

.data-row {
  display: flex;
  align-items: center;
}

.data-label {
  font-weight: bold;
  margin-right: 5px;
}



/*untuk edit lokasi*/
.edit-dropdown-content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(236, 242, 255);
  margin-left: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.edit-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  height: 200px;
  margin: 0 auto;
  padding: 10px;
}

.data-input {
  border-radius: 20px !important;
  padding-left: 10px;
  opacity: 0.7;
}

.edit-button {
  display: flex;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px 20px;
  color: white;
  background-color: #3282B8;
  border: none;
  transition: transform 0.3s ease
}

.edit-button::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.edit-button:hover {
  transform: scale(1.1);
}


@media only screen and (max-width: 480px) {

  /* Mengatur lebar dan padding pada admin-dashboard */
  .admin-dashboard {
    width: 100%;
    padding: 20px;
  }

  /* untuk tabel seluruh lokasi terdaftar*/

  .data-table {
    width: 100%;
    max-width: 480px;
    margin-bottom: 20px;
  }

  .admin-main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100% !important;
  }

  .data-table th {
    font-size: 1px;
    width: 100px;
    padding: 2px;
  }

  /* Mengatur font-size pada sel data tabel */
  .data-table td {
    font-size: 8px;
    padding: 1px;
  }

  /* Mengatur lebar kolom pada tabel */
  .data-table th:nth-child(1),
  .data-table td:nth-child(1) {
    width: 10%;
  }

  .data-table th:nth-child(2),
  .data-table td:nth-child(2) {
    width: 20%;
  }

  .data-table th:nth-child(3),
  .data-table td:nth-child(3) {
    width: 20%;
  }

  .data-table th:nth-child(4),
  .data-table td:nth-child(4) {
    width: 20%;
  }

  .data-table th:nth-child(5),
  .data-table td:nth-child(5) {
    width: 20%;
  }

  .data-table th:nth-child(6),
  .data-table td:nth-child(6) {
    width: 20%;
  }

  /* Mengatur font-size pada judul h1 */
  .admin-dashboard h1 {
    font-size: 24px;
  }

  /* Mengatur padding dan margin pada admin-dashboard-content */
  .admin-dashboard-content {
    padding: 10px;
    margin-top: 20px;
  }

  /* Mengatur margin pada admin-actions */
  .admin-actions {
    margin-bottom: 10px;
  }

  /* Mengatur margin pada admin-action */
  .admin-action {
    margin-bottom: 5px;
  }

  /* Mengatur font-size pada tabel data */
  .admin-main-content h4 {
    font-size: 16px;
  }

  /* Mengatur font-size pada header kolom tabel */
  .data-table th {
    font-size: 14px;
  }

  /* Mengatur font-size pada sel data tabel */
  .data-table td {
    font-size: 14px;
  }

  .pengaturan-kota {
    font-size: 10px !important;
  }

  .keterangan th {
    font-size: 10px !important;
  }

  .pengaturan-kecamatan,
  .pengaturan-alat,
  .pengaturan-lattitude,
  .pengaturan-longitude {
    font-size: 8px !important;
  }

  /*untuk seluruh tombol fitur dashboard*/
  .admin-action {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .dropdown-container {
    width: 100%;
  }

  .dropdown-button {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  /*untuk edit lokasi*/
  .edit-dropdown-content {
    width: 100% !important;
    transform: translateX(-16px);

    .masukin-id {
      width: 300px;

      .label {
        font-size: 15px !important;
        transform: translateX(5px) translateY(3px);
      }

      .input-edit {
        margin-bottom: 5px;
        width: 50%;
      }

      .check-edit {
        height: 90%;
      }
    }

    .edit-form {
      width: 41%;
      height: auto;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateX(13px);

      .input-group {

        margin: 0 auto;
        margin-bottom: 0px;
        transform: translateX(-100px);

        .label-input {
          font-size: 14px;
          display: flex;
        }

        .data-input {
          width: 200px;
          font-size: 14px;
        }

        .input-id {
          transform: translateX(-18px);
        }

        .input-kecamatan {
          transform: translateX(-3px);
        }

        .input-kota {
          transform: translateX(-34px);
        }

        .input-provinsi {
          transform: translateX(-21px);
        }

        .input-latitude {
          transform: translateX(-5px);
        }

        .input-longitude {
          transform: translateX(-5px);
        }
      }

      .button-group {
        margin: 0 auto;
        transform: translateX(-65px);
      }
    }
  }

  /*untuk hapus lokasi*/
  .delete-dropdown-content {
    width: 100% !important;
    transform: translateX(-16px);

    .input-group {
      width: 300px !important;
      transform: translateX(10px);

      .label-delete {
        font-size: 15px !important;
        display: flex;
      }

      .input-delete {
        margin-bottom: 5px;
        width: 50%;
      }

      .check-delete {
        height: 90%;
      }
    }

    .location-data {
      width: 41%;
      height: auto;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: left;
      transform: translateX(-86px);

      .data-row {
        font-size: 14px;

        .value-data {
          white-space: nowrap !important;
         
        }

      }
    }


  }

}