
.background {
    background: url('../images/nightsky.jpg') no-repeat center center fixed;
    background-size: cover;
    height:100vh;
    overflow-y:hidden;
    width: 100%;
  }

  .break-line {
    display: inline-block; /* Default style, untuk tampilan desktop */
  }
  
  @media (max-width: 480px) {
    .title {
        display: flex;
        flex-direction: column;
    }
}