.navbar {
  background-color: transparent;
  padding: 10px;
  position: sticky;
  box-shadow: #333;
  z-index: 999;
  margin-bottom: 80px; 
}

.navbar-scrolled {
  background-color: black;
  transition: all 0.5s ease-in-out;
}


.navbar-brand {
  color: #333;

}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler-icon {
  background-color: #333;
  width: 24px;
  height: 2px;
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

.navbar-nav .nav-item:hover {
  margin-right: 10px;
  background-color: rgb(89, 98, 101);
  border-radius: 5px;
  opacity: 1.5;
  transition: ease-in-out;

}

.nav-link {
  color: #333;
  font-weight: bold;
}

.nav-link:hover {
  color: #007bff;
}

.navbar-text {
  color: #333;
  margin-right: 10px;
}



.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}


  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    pointer-events: none;
  }
  
  .overlay.active {
    pointer-events: auto;
  }
  
  .overlay-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
  }
  
  .overlay-content .login-form {
    pointer-events: auto;
  }

  @media screen and (max-width: 480px) {
    .navbar {
  background-color: transparent;
  padding: 10px;
  position: sticky;
  box-shadow: #333;
  z-index: 999;
  margin-bottom: 80px;
  margin: 0 auto;
  height: 20px;
  width: 360px;
}

.navbar-scrolled {
  background-color: black;
  transition: all 0.5s ease-in-out;
  padding-top: 10px;
}

.navbar-collapse {
  background-color: black;
  display: flex;
  justify-content: flex-end;
padding-bottom: 10px !important;
}

.navbar-nav {
  flex-direction: column;
  align-items: flex-end;
}

.nav-item {
  margin-bottom: 10px;
}

.navbar-brand,
.nav-link {
  display: block;
  text-align: center;
}

.navbar-toggler-icon {
  background-color: transparent;
}

.navbar-toggler-icon:active {
  outline: none;
  box-shadow: none;
}

  }
  
  