.search-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* align to the right */
    margin: 20px;
    background-color: #fff;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 6px 20px;
    transition: all 0.3s ease-in-out;
    width: 300px;
    flex-wrap: wrap;
    position: relative;
    z-index: 100;
    margin-left:auto;
  }
  
  
  .search-bar form {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .search-bar input {
    flex-basis: 70%; /* Mengatur ukuran input */
    padding: 8px;
    font-size: 16px;
    max-width: 200px; /* Batasi lebar input */
  }
  .search-bar input[type=search] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    flex-grow: 1;
    box-shadow: none;
  }
  
  .search-bar button {
    background-color: transparent;
    border: none;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .search-bar:hover {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.00);
  }
  
  .location-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ECF9FF;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 6px 20px;
    width: 100%;
  }

  .location-item{
    background: rgb(255, 251, 235);
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 5px;
    box-shadow:10px 5px 8px rgba(0, 0, 0, 0.1);   
    transition: all 0.3s ease-in-out; 
  }

  .location-item:hover{
    background: rgb(255, 251, 235);
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 5px;
    box-shadow:10px 5px 8px rgba(0, 0, 0, 0.1); 

  }

  .location-item .kecamatan:hover{
    transform: scale(1.2);
    opacity:1.8;
    transition: all 0.4s ease-in-out;
    transform: translateX(4px);
  
  }

  .location-item > span:nth-of-type(1) {
    font-weight: bold;
  }
  
  .location-item > span:nth-of-type(2) {
    font-weight: bold;
  }
  
  .location-item > div {
    font-size: 0.8em;
    opacity: 0.6;
  }

  .location-item > div :hover{
    font-size: 0.8em;
    opacity: 1;
    transition: all 0.3s  ease-in-out;
    cursor: pointer;

  }

  
  
  .dropdown-menu .location-item {
    padding: 10px 0;
  }
  
  .location-dropdown .location-item > div {
    margin-bottom: 5px;
  }

  /*untuk smartphone*/
  @media (max-width: 400px) {
    .search-bar {
      flex-direction: column;
      margin-right: 0;
      margin-left: 10px;
      position: flex;
      
    }

    .search-bar .form {
        flex-wrap: wrap;
        margin-right: 0;
      }
  
    .search-bar .form-control {
      flex-grow: unset;
      margin-bottom: 8px;
      width: 100%;
      height: auto;
   
      
    }
  
    .search-bar input {
      flex-basis: 100%; /* Mengatur ukuran input agar mengisi seluruh lebar */
      max-width: 105px; /* Menghapus batasan lebar input */
      height: auto;
      margin-left: -15px;
    }
  
    .search-bar button {
      margin-left: 10px;
    }
  }