.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* align to the right */
  background-color: #fff;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 6px 20px;
  transition: all 0.3s ease-in-out;
  width: 22%;
  flex-wrap: wrap;
  position: relative;
  z-index: 100;
  margin-left: auto;

  .form-inline {
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    display: flex;
  }

  .form-control {
    flex-basis: 70%;
    /* Mengatur ukuran input */
    padding: 8px;
    font-size: 16px;
    width: 70%;
  }

}

input[type=search] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  flex-grow: 1;
  box-shadow: none;
  outline: none;
}



.search-bar input {

  /* Batasi lebar input */
}



.search-bar button {
  background-color: transparent;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.search-bar:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.00);
}

.location-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ECF9FF;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 6px 20px;
  width: 100%;
}

.location-item {
  background: rgb(255, 251, 235);
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 5px;
  box-shadow: 10px 5px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.location-item:hover {
  background: rgb(255, 251, 235);
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 5px;
  box-shadow: 10px 5px 8px rgba(0, 0, 0, 0.1);

}

.location-item .kecamatan:hover {
  transform: scale(1.2);
  opacity: 1.8;
  transition: all 0.4s ease-in-out;
  transform: translateX(4px);

}

.location-item>span:nth-of-type(1) {
  font-weight: bold;
}

.location-item>span:nth-of-type(2) {
  font-weight: bold;
}

.location-item>div {
  font-size: 0.8em;
  opacity: 0.6;
}

.location-item>div :hover {
  font-size: 0.8em;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

}



.dropdown-menu .location-item {
  padding: 10px 0;
}

.location-dropdown .location-item>div {
  margin-bottom: 5px;
}

/*Untuk tablet*/

@media (max-width : 800px) {
  .search-bar {

    width: 30%;
  }
}

/*untuk smartphone*/
@media (max-width: 480px) {
  .search-bar {



    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    margin: 0 auto !important;
    transform: translateY(5px);


    .form-inline {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      
      display: flex;
      align-items: center;
      justify-content: center;

      .form-control {

        margin: 0 auto;
        width: 10%;
        font-size: 14px;

      }

      .submitButton {
        background-color: black;


      }
    }

  }


  .search-bar input {
    flex-basis: 100%;
    /* Mengatur ukuran input agar mengisi seluruh lebar */
    max-width: 105px;
    /* Menghapus batasan lebar input */
    height: auto;
    margin-left: 0px;
    
    background-color: white;


  }

  #searchIcon {
    background-color: white;
  }
}